<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CRUD - Cristian Zamora</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/public/style/bootstrap.min.css">
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a href="/" class="navbar-brand">CRUD NODEJS MYSQL</a>
    </nav>
